button{
    width: 70px;
    height: 70px;
    border: none;
    cursor: pointer;
    margin: 20px;
    transition: 0.3s;
    background: none;
}
button:hover{
    transform: translateY(-5px);
}
.icons{
    width: 70px;
    height: 70px;
}
#selectionText{
    position: relative;
    top: 54vh;
    display: flex;
    justify-content: center;
}
#SelectionBoxCpu{  
    width: 150px;
    height: 150px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
#SelectionBoxUser{  
    width: 150px;
    height: 150px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.BoxTextUser{
    position: relative;
    bottom: 55px;
    left: 10    px;
}
.BoxTextCpu{
    position: relative;
    bottom: 55px;
}
.container{
    position: relative;
    top: 20vh;
    padding: 200px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
@keyframes cpuShake {
    50% {
      transform: rotate(-10deg) rotateY(180deg);
    }
  }
.cpuShake{
    animation: cpuShake 0.5s ease infinite
}
@keyframes userShake {
    50% {
      transform: rotate(10deg);
    }
}
.userShake{
    animation: userShake 0.5s ease infinite;
}
#boxImgCpu{
    width: 90px;
    height: 90px;
    position: relative;
    bottom: 25px;
    transform: rotate(-90deg) rotateY(180deg);
}
#boxImgUser{
    width: 90px;
    height: 90px;
    position: relative;
    bottom: 25px;
    transform: rotate(90deg);
}
.score{
    position: relative;
}