button{
    width: 70px;
    height: 70px;
    border: none;
    cursor: pointer;
    margin: 20px;
    transition: 0.3s;
    background: none;
}
button:hover{
    transform: translateY(-5px);
}
.icons{
    width: 70px;
    height: 70px;
}
#selectionText{
    position: relative;
    top: 54vh;
    display: flex;
    justify-content: center;
}
#UserSelectionBox{  
    width: 150px;
    height: 150px;
    border: 1px black solid;
}
.BoxText{
    position: relative;
    bottom: 7vh;
    right: 5px;
}
.container{
    position: relative;
    top: 40vh;
}